.p-tabpanels {
    padding-left: 0;
    padding-right: 0;

    .p-tabpanel > div {
        justify-content: flex-start;
        flex-flow: column;
    }
}


.prev-result {
    h5 {
        margin-bottom: 0;
    }
    table {
        border-collapse: collapse;
        margin: 3px 0 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        thead tr {
            background-color: var(--p-tabs-tab-active-color);
            color: #ffffff;
            text-align: left;
        }

        th,
        td {
            padding: 12px 15px;
            text-align: left;
            font-size: 16px;
        }

        tbody tr {
            border-bottom: 1px solid #e7e7e7;
        }
    }
}

.emphasize {
    padding-bottom: 3px;
    border-left: 4px solid #ccc;
    padding-left: 5px;
    margin: 4px 0;
    display: block;
    font-size: 15px;
    width: 49%;
}

.span-flex-50 {
    border-left: 1px solid #999;
    padding-left: 6px;
    font-size: 15px;
}

.p-ripple.p-tab:first-child {
    padding-left: 0;
}
