<pre>
    <!-- {{completedExercises | json }} -->
</pre>


@if(completedExercises !== null){
<div class="search-results">
    <div class="col-span-12 xl:col-span-6">
        <ul class="p-0 mx-0 mt-0 mb-6 list-none">

            @for (exercise of completedExercises; track $index) {
            <li class="flex items-center py-2 result-item">
                @if(showGifNr === ($index + 1)){
                    <div class="w-12 h-12 flex items-center justify-center rounded-full mr-4 shrink-0">
                        <img [src]="exercise.exercise.gifUrl" width="50" [alt]="exercise.exercise.name"
                            (click)="toggleGif(($index + 1))" />
                    </div>
                }
                @else {
                    <div class="w-12 h-12 flex items-center justify-center bg-{{ colors[$index % colors.length] }}-100 dark:bg-{{ colors[$index % colors.length] }}-400/10 rounded-full mr-4 shrink-0">
                        <i class="pi pi-chevron-right text-xl! text-{{ colors[$index % colors.length] }}-500" (click)="toggleGif(($index + 1))"></i>
                    </div>
                }
                <div (click)="showDialog(exercise)"
                    class="text-surface-900 dark:text-surface-0 leading-normal">{{ exercise.exercise.name | titlecase
                    }}<br />
                    <div class="mt-1 text-muted-color">{{ exercise.date | date:"d MMM" }} / {{ exercise.sets.length}} {{
                        exercise.sets.length > 1 ? 'sets' : 'set' }} </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
}


<div class="card flex justify-center">
    <p-dialog header="{{ selectedExcercise?.exercise?.name | titlecase}}" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div>
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Övning</p-tab>
                    <p-tab value="1">Registrera</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <p class="m-0">
                            {{ selectedExcercise | json }}
                        </p>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p class="m-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem
                            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                            sunt explicabo.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni
                            dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                            numquam eius
                            modi.
                        </p>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    </p-dialog>
</div>