.search {
    margin: 0 0 30px 0;

    .flex.flex-col.gap-2 {
        position: relative;

        input[type="text"] {
            border: 1px solid #ccc;
            padding: 10px 12px;
            border-radius: 5px;
            font-size: 1.3em;
        }

        input[type=text]:focus {
            border: 1px solid #a8a8a8;
            outline: none;
        }

        i {
            position: absolute;
            right: 9px;
            top: 12px;
            color: #ccc;
            font-size: 20px;
        }
    }
}

.search-results {
    li {
        min-height: 67px;
        border-top: 1px solid #e7e7e7;

        &:first-child {
            border: none;
        }
    }
}